/* Colors */
/* 
	Main Background (light blue): #D7DDD7
	Logo Background / sidebar active (tan): #C9AC75
	Sidebar Background / logo text (dark brown): #341E16
	Sidebar hover / border-bottom (orange): #9B582A
	Sidebar border-top (dark gray): #222 
	Active / hover text (black): #000
*/

/* Global */

html, body {
	background-color: #D7DDD7;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

div {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

h1.no-margin {
	margin: 0;
}

p, h1, h2, h3 {
	font-family: "Helvetica", "Arial", sans-serif;
	margin: 15px 0 0 0;
	padding: 0;
	font-weight: normal;
}

div#container {
	overflow: auto;
	width: 100%;
	height: 100%;
}

h1 {
	font-size: 32;
	color: #341E16;
}

div#topbar {
	width:100%; 
	height:20px; 
	position:fixed; 
	top: 0px; 
	left:0px; 
	background-color: #341E16; 
	z-index:10; 
	border-bottom: 1px solid black;
}

/* Sidebar */

div#main-sidebar {
	width: 240px;
	height: 100%;
	position: fixed;
	left: 0px;
	top:  0px;
	background-color: #341E16;
	padding: 20px 0 0 0;
	overflow-y: auto;
	border-right: 1px solid black;
}

div#main-sidebar #logo {
	width: 100%;
	height: 100px;
	background-color: #C9AC75;
	line-height: 100px;
	text-align: center;
}

div#main-sidebar #logo h1 {
	font-weight: bold;
}

div#main-sidebar .button {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	cursor: pointer;
	width: 100%;
	height: 45px;
	position: relative;
	left: 0px;
	top: 0px;
	padding: 4px 8px;
	color: #C9C999;
	font-family: "Helvetica", sans-serif;
	text-align: center;
	line-height: 40px;
	font-size: 18;
	border-bottom: 1px solid #9B582A;
	border-top: 1px solid #222;
}

div#main-sidebar .active {
	background-color: #C9AC75;
	color: black;
}

div#main-sidebar .button:hover {
	background-color: #9B5A2A;
	color: black;
}

/* Main content */

div#main-body {
	float: right;
	width: 100%;
	padding: 36px 0 0 278px;
}

/* Tab content */

div.tab-body {
	width: 100%;
	display: none;
}

/* Tables */

table {
	font-family: "Helvetica", "Arial", sans-serif;
}

table.standard td.remove-row {
	background-color: #500;
	color: white;
	text-align: center;
	width:23px;
	padding: 0;
}

table.standard td.add-button {
	background-color: #43431F;
	color: white;
	text-align: center;
	width:23px;
}

table.standard th.add-button {
	background-color: #222;
	color: white;
	text-align: center;
	width:23px;
}

.no-border {
	border: none !important;
}

.no-background {
	background-color: transparent !important;
}

.spacer-small {
	width:3px;
}

.spacer-medium {
	width:10px;
}

table.standard {
	border-collapse: collapse;
	margin: 15px 0 0 0;
	display: inline-block;
}

table.standard th {
	background-color: #333;
	color:#fff;
	padding: 4px 10px;
	font-weight: normal;
	border: 1px solid black;
}

table.standard td {
	border: 1px solid black;
	padding: 2px 6px;
	text-align: center;
	height: 25px;
}

.thin-cell {
	min-width: 45px;
	max-width: 100px;
}

.medium-cell {
	min-width: 90px;
	max-width: 360px;
}

.wide-cell {
	min-width: 120px;
	max-width: 480px;
}

.ultra-wide-cell {
	width: 600px;
}

table.invisible {
	border-collapse: collapse;
	margin: 15px 0 0 0;
}

table.invisible td {
	border: none;
	padding-right: 5px;
}

textarea {
	margin: 15px 0 0 0;
}

.black-border {
	border: 1px solid black;
}

.no-right-border {
	border-right: none !important;
}

.no-left-border {
	border-left: none !important;
}

.no-top-border {
	border-top: none !important;
}

.no-bottom-border {
	border-bottom: none !important;
}

.left-align {
	text-align: left !important;
}

div.spacer50 {
	height: 50px;
}